MONGO_URI=mongodb://localhost:27017/
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
SPARK_MASTER=spark://spark-master:7077
# KAFKA_TOPIC = "network_traffic"
# CHECKPOINT_BASE = "/tmp/checkpoints"
# STREAM_RESET_CHECKPOINT = true
